In [1]:
import httpx
import pandas as pd
base_url = "http://localhost:8000"
client = httpx.Client(base_url=base_url)

In [7]:
R = client.get(
	"/hwells/",
	params={'ids':["CVWD 11","CVWD 17"]},
	)
print(R.url)
wells = pd.DataFrame(R.json())
wells.head()

http://localhost:8000/hwells/?

  dms_site_id  TotalWell_Depth  index
0     CVWD 17            954.0      7
1     CVWD 11            820.0      2
2     CVWD 12            764.0      3
3     CVWD 15           1318.0      5
4     CVWD 16            827.0      6

In [111]:
R = client.get(
	"/wells/",
	params={'ids':[1,6]}
	)
print(R.url)
wells = pd.DataFrame(R.json())
wells.head()

http://localhost:8000/wells/?ids=1&ids=6

   id  agency_id  LocalSite_ID     SWN
0   1          1           1.0  CVWD 1

In [86]:
R = client.get(
	"/agencies/",
	# params={'ids':[1,2]}
	)
print(R.url)
print(R.json())
wells = pd.DataFrame(R.json())
wells.head()

http://localhost:8000/agencies/
[{'id': 1, 'name': 'Cucamonga Valley Water District'}, {'id': 2, 'name': 'San Antonio Water Company'}, {'id': 3, 'name': 'West End Consolidated Water Company'}]

   id                                 name
0   1      Cucamonga Valley Water District
1   2            San Antonio Water Company
2   3  West End Consolidated Water Company

In [108]:
well = {
	"id":5,
	"agency_id":3,
	# "LocalSite_ID":7,
	# "SWN":"txt",
	}
R = client.post(
	"/wells/add/",
	json=well,
	)
print(R.url)
print(R.reason_phrase)
R.json()

http://localhost:8000/wells/add/
Created

{'id': 5, 'agency_id': 3, 'LocalSite_ID': None, 'SWN': None}

In [19]:
R = client.put("/wells/update/6", data={"agency_id":2})
print(R.url)
print(R.reason_phrase)

http://localhost:8000/wells/update/6
Unprocessable Entity