In [1]:
from data import sdwis_data
df = sdwis_data
df.head(2)

shape: (2, 30)
┌────────────┬────────────┬────────────┬───────────────┬─────┬─────┬────────┬────────────┬─────────┐
│ Regulating ┆ Water      ┆ Water      ┆ System Status ┆ ... ┆ MCL ┆ Method ┆ Date       ┆ reading │
│ Agency     ┆ System     ┆ System     ┆ ---           ┆     ┆ --- ┆ ---    ┆ ---        ┆ ---     │
│ ---        ┆ Number     ┆ Name       ┆ str           ┆     ┆ str ┆ str    ┆ date       ┆ f32     │
│ str        ┆ ---        ┆ ---        ┆               ┆     ┆     ┆        ┆            ┆         │
│            ┆ str        ┆ str        ┆               ┆     ┆     ┆        ┆            ┆         │
╞════════════╪════════════╪════════════╪═══════════════╪═════╪═════╪════════╪════════════╪═════════╡
│ DISTRICT   ┆ CA3610018  ┆ CUCAMONGA  ┆ A             ┆ ... ┆ .2  ┆ null   ┆ 2015-01-05 ┆ 0.021   │
│ 13 - SAN   ┆            ┆ VALLEY     ┆               ┆     ┆     ┆        ┆            ┆         │
│ BERNARDINO ┆            ┆ WATER      ┆               ┆     ┆     ┆        ┆            ┆         │
│            ┆            ┆ DISTRICT   ┆               ┆     ┆     ┆        ┆            ┆         │
│ DISTRICT   ┆ CA3610018  ┆ CUCAMONGA  ┆ A             ┆ ... ┆ .2  ┆ null   ┆ 2015-01-05 ┆ 0.36    │
│ 13 - SAN   ┆            ┆ VALLEY     ┆               ┆     ┆     ┆        ┆            ┆         │
│ BERNARDINO ┆            ┆ WATER      ┆               ┆     ┆     ┆        ┆            ┆         │
│            ┆            ┆ DISTRICT   ┆               ┆     ┆     ┆        ┆            ┆         │
└────────────┴────────────┴────────────┴───────────────┴─────┴─────┴────────┴────────────┴─────────┘

In [129]:
import pandas as pd
import httpx
class System:
	def __init__(self) -> None:
		self.system_number = '3610018'
		self.is_number = '3782'
		
		self.wq_map = {
			'TDS':'1930',
			'Nitrate':'1040',
		}	
	def get_details(self):
		# url = 'https://sdwis.waterboards.ca.gov/PDWW/JSP/WaterSystemDetail.jsp?tinwsys_is_number=3782&tinwsys_st_code=CA&counter=0'
		url = 'https://sdwis.waterboards.ca.gov/PDWW/JSP/WaterSystemDetail.jsp'
		R = httpx.get(
			url,
			params={
				# "SystemNumber":self.system_number,
				"tinwsys_is_number":self.is_number,
				"tinwsys_st_code":'CA',
				"counter":'0'
			}
		)
		
		return self.get_df(R)

	def get_df(self,R):
		try:
			dfs = pd.read_html(R.text)
			# df.columns = df.iloc[0]
			return dfs
		except:
			return R.url
			return R.text
	
	def get_site_urls(self):
		df = pd.read_html(
			f"https://sdwis.waterboards.ca.gov/PDWW/JSP/NMonitoringSchedules.jsp?tinwsys_is_number={self.is_number}&tinwsys_st_code=CA&ReportFormat=SR",
			extract_links="body",
		)[0]

		# use link text if it exists

		df.columns = [c[2] for c in df.columns]
		return df[:-2].applymap(lambda x: x[1] if None not in x else x[0])
		

	def get_sites(self):
		# https://sdwis.waterboards.ca.gov/PDWW/JSP/NMonitoringSchedules.jsp?tinwsys_is_number=3782&tinwsys_st_code=CA&ReportFormat=SR
		# https://sdwis.waterboards.ca.gov/PDWW/JSP/WaterSystemFacilities.jsp?tinwsys_is_number=3782&tinwsys_st_code=CA

		url = "https://sdwis.waterboards.ca.gov/PDWW/JSP/NMonitoringSchedules.jsp"
		params = {
			"tinwsys_is_number":self.is_number,
			"tinwsys_st_code":'CA',
			"ReportFormat":'SR'
		}
		R = httpx.get(
			url=url,
			params=params,
		)
		df = self.get_df(R)[0]
		df.columns = [c[2] for c in df.columns]
		return df


	def get_wq(self,analyte_name,row):
		url = 'https://sdwis.waterboards.ca.gov/PDWW/JSP/WSamplingResultsByStoret.jsp?'
		# https://sdwis.waterboards.ca.gov/PDWW/JSP/WSamplingResultsByStoret.jsp?SystemNumber=3610018&tinwsys_is_number=3782&FacilityID=001&WSFNumber=10342&SamplingPointID=001&SystemName=CUCAMONGA+VALLEY+WATER+DISTRICT&SamplingPointName=BEE+TUNNEL&Analyte=&ChemicalName=&begin_date=&end_date=&mDWW=
		
		# https://sdwis.waterboards.ca.gov/PDWW/JSP/WSamplingResultsByStoret.jsp?SystemNumber=3610018&SystemName=CUCAMONGA+VALLEY+WATER+DISTRICT&tinwsys_is_number=3782&SamplingPointName=WELL+01&SamplingPointID=002-002-10343&mDWW=null&Analyte=1040&ChemicalName=NITRATE&begin_date=&end_date=&Generate+Report=Generate+Report
		# https://sdwis.waterboards.ca.gov/PDWW/JSP/WSamplingResultsByStoret.jsp?
		# SystemNumber=3610018&
		# SystemName=CUCAMONGA+VALLEY+WATER+DISTRICT&
		# tinwsys_is_number=3782&
		# SamplingPointName=WELL+01&
		# SamplingPointID=002-002-10343&
		# mDWW=null&
		# Analyte=1040&
		# ChemicalName=NITRATE&
		# begin_date=&
		# end_date=&
		# Generate+Report=Generate+Report
		params = {
				# 'SystemNumber':'3610018',
				'tinwsys_is_number':'3782',
				# 'FacilityID':'002',
				'FacilityID':row['Facility ID'],
				# ?
				'WSFNumber':'10343',
				# 'SamplingPointID':'002',
				'SamplingPointID':row['Sample Point ID'],

				# 'SystemName':'CUCAMONGA+VALLEY+WATER+DISTRICT',
				# 'SamplingPointName':'WELL+01',
				'SamplingPointName':row['Sample Point Name'],

				'Analyte':[self.wq_map[analyte_name]],
				'ChemicalName':'',
				'begin_date':'',
				'end_date':'',
				'mDWW':'',
				}
		R = httpx.get(
			url,
			params=params
		)
		df = self.get_df(R)[0]
		# remove top column row
		df.columns = [' - '.join(col) if col[0] != col[1] else col[1] for col in df.columns ]
		# drop last 3 rows
		return df[:-3]

S = System()
# S.get_details()
# sites = S.get_sites()
# sites.head(2)
# S.get_wq('TDS',sites.iloc[1])
S.get_site_urls()['New PS Codes'].iloc[0]

'WSamplingResultsByStoret.jsp?SystemNumber=3610018&tinwsys_is_number=3782&FacilityID=001&WSFNumber=10342&SamplingPointID=001&SystemName=CUCAMONGA+VALLEY+WATER+DISTRICT&SamplingPointName=BEE+TUNNEL&Analyte=&ChemicalName=&begin_date=&end_date=&mDWW='

In [48]:
import httpx
# url = 'https://sdwis.waterboards.ca.gov/PDWW/JSP/WSamplingResultsByStoret.jsp?SystemNumber=3610018&tinwsys_is_number=3782&FacilityID=002&WSFNumber=10343&SamplingPointID=002&SystemName=CUCAMONGA+VALLEY+WATER+DISTRICT&SamplingPointName=WELL+01&Analyte=&ChemicalName=&begin_date=&end_date=&mDWW='
url = 'https://sdwis.waterboards.ca.gov/PDWW/JSP/WSamplingResultsByStoret.jsp?'
params = {
		# 'SystemNumber':'3610018',
		'tinwsys_is_number':'3782',
		'FacilityID':'002',
		'WSFNumber':'10343',
		'SamplingPointID':'002',
		'SystemName':'CUCAMONGA+VALLEY+WATER+DISTRICT',
		'SamplingPointName':'WELL+01',
		'Analyte':'1040',
		'ChemicalName':'',
		'begin_date':'',
		'end_date':'',
		'mDWW':''
		}
R = httpx.get(
	url,
	params=params
)
# SystemNumber=3610018&tinwsys_is_number=3782&FacilityID=002&WSFNumber=10343&SamplingPointID=002&SystemName=CUCAMONGA+VALLEY+WATER+DISTRICT&SamplingPointName=WELL+01&Analyte=&ChemicalName=&begin_date=&end_date=&mDWW='
# print(f"{R.url}\n{R.text}")
# R.url
# R.text

In [49]:
import pandas as pd
df = pd.read_html(R.text)[0]
df

# html.body.css_first('table').css_first('tr').css_first('td').css_first('table').css_first('tr').css_first('td').text()

                                        Analyte Number Analyte Name  \
                                        Analyte Number Analyte Name
0                                                 1040      NITRATE
1                                                 1040      NITRATE
2                                                 1040      NITRATE
3                                                 1040      NITRATE
4                                                 1040      NITRATE
..                                                 ...          ...
175                                               1040      NITRATE
176                                               1040      NITRATE
177                            CA Drinking Water Watch          NaN
178  CUCAMONGA+VALLEY+WATER+DISTRICT (null)  Sampli...          NaN
179                                                NaN          NaN

    Sampling Date        Results                Counting Error (+/-)   MCL  \
    Sampling Date Detected Level Less Than   RL Counting Error (+/-)   MCL
0      07-05-2023           10.0       NaN  0.4                  NaN  10.0
1      06-30-2023            7.9       NaN  0.4                  NaN  10.0
2      06-20-2023            9.9       NaN  0.4                  NaN  10.0
3      06-13-2023           10.0       NaN  0.4                  NaN  10.0
4      05-31-2023           11.0       NaN  0.4                  NaN  10.0
..            ...            ...       ...  ...                  ...   ...
175    12-07-2015            3.5       NaN  0.4                  NaN  10.0
176    11-30-2015            3.6       NaN  0.4                  NaN  10.0
177           NaN            NaN       NaN  NaN                  NaN   NaN
178           NaN            NaN       NaN  NaN                  NaN   NaN
179           NaN            NaN       NaN  NaN                  NaN   NaN

     DLR  Unit       Lab Sample ID                                    Lab  \
     DLR  Unit       Lab Sample ID                                    Lab
0    0.4  MG/L          23G0288-04  CLINICAL LABORATORY OF SAN BERNARDINO
1    0.4  MG/L          3F30027-01                      WECK LABORATORIES
2    0.4  MG/L          23F1972-04  CLINICAL LABORATORY OF SAN BERNARDINO
3    0.4  MG/L          23F1247-10  CLINICAL LABORATORY OF SAN BERNARDINO
4    0.4  MG/L          23E3059-10  CLINICAL LABORATORY OF SAN BERNARDINO
..   ...   ...                 ...                                    ...
175  0.4  MG/L  37820021512070951N  CLINICAL LABORATORY OF SAN BERNARDINO
176  0.4  MG/L  37820021511301030N  CLINICAL LABORATORY OF SAN BERNARDINO
177  NaN   NaN                 NaN                                    NaN
178  NaN   NaN                 NaN                                    NaN
179  NaN   NaN                 NaN                                    NaN

       ELAP     Method
       ELAP     Method
0    1088.0  EPA 353.2
1    1132.0  EPA 353.2
2    1088.0  EPA 300.0
3    1088.0  EPA 300.0
4    1088.0  EPA 300.0
..      ...        ...
175  1088.0        NaN
176  1088.0        NaN
177     NaN        NaN
178     NaN        NaN
179     NaN        NaN

[180 rows x 14 columns]

In [10]:
dfs = pd.read_html(str(R.url))

In [17]:
df = dfs[0]
print(df.shape)
df.head(2)

(1392, 14)

  Analyte Number Analyte Name Sampling Date        Results                 \
  Analyte Number Analyte Name Sampling Date Detected Level Less Than   RL
0           1040      NITRATE    07-05-2023           10.0       NaN  0.4
1           1040      NITRATE    06-30-2023            7.9       NaN  0.4

  Counting Error (+/-)   MCL  DLR  Unit Lab Sample ID  \
  Counting Error (+/-)   MCL  DLR  Unit Lab Sample ID
0                  NaN  10.0  0.4  MG/L    23G0288-04
1                  NaN  10.0  0.4  MG/L    3F30027-01

                                     Lab    ELAP     Method
                                     Lab    ELAP     Method
0  CLINICAL LABORATORY OF SAN BERNARDINO  1088.0  EPA 353.2
1                      WECK LABORATORIES  1132.0  EPA 353.2

In [3]:
# extract table from html
from bs4 import BeautifulSoup
soup = BeautifulSoup(R.text, 'html.parser')
import pandas as pd
pd.read_html(str(soup))[0]

                                         Analyte Number     Analyte Name  \
                                         Analyte Number     Analyte Name
0                                                  1040          NITRATE
1                                                  1040          NITRATE
2                                                  1039      PERCHLORATE
3                                                  1039      PERCHLORATE
4                                                  1040          NITRATE
...                                                 ...              ...
1387                                               4174  38-STRONTIUM-90
1388                                               4102          TRITIUM
1389                            CA Drinking Water Watch              NaN
1390  CUCAMONGA+VALLEY+WATER+DISTRICT (3610018) All ...              NaN
1391                                                NaN              NaN

     Sampling Date        Results                Counting Error (+/-)  \
     Sampling Date Detected Level Less Than   RL Counting Error (+/-)
0       07-05-2023           10.0       NaN  0.4                  NaN
1       06-30-2023            7.9       NaN  0.4                  NaN
2       06-30-2023            4.4       NaN  2.0                  NaN
3       06-20-2023            6.0       NaN  2.0                  NaN
4       06-20-2023            9.9       NaN  0.4                  NaN
...            ...            ...       ...  ...                  ...
1387    05-14-1991            NaN         <  2.0                  NaN
1388    05-14-1991            NaN         <  1.0                  NaN
1389           NaN            NaN       NaN  NaN                  NaN
1390           NaN            NaN       NaN  NaN                  NaN
1391           NaN            NaN       NaN  NaN                  NaN

          MCL  DLR   Unit       Lab Sample ID  \
          MCL  DLR   Unit       Lab Sample ID
0        10.0  0.4   MG/L          23G0288-04
1        10.0  0.4   MG/L          3F30027-01
2         6.0  2.0   UG/L          3F30027-01
3         6.0  2.0   UG/L          23F2090-02
4        10.0  0.4   MG/L          23F1972-04
...       ...  ...    ...                 ...
1387      8.0  2.0  PCI/L  37820029105140800R
1388  20000.0  1.0  PCI/L  37820029105140800R
1389      NaN  NaN    NaN                 NaN
1390      NaN  NaN    NaN                 NaN
1391      NaN  NaN    NaN                 NaN

                                          Lab    ELAP     Method
                                          Lab    ELAP     Method
0       CLINICAL LABORATORY OF SAN BERNARDINO  1088.0  EPA 353.2
1                           WECK LABORATORIES  1132.0  EPA 353.2
2                           WECK LABORATORIES  1132.0  EPA 314.0
3       CLINICAL LABORATORY OF SAN BERNARDINO  1088.0  EPA 314.0
4       CLINICAL LABORATORY OF SAN BERNARDINO  1088.0  EPA 300.0
...                                       ...     ...        ...
1387  EBERLINE SERVICES (FORMERLY TMA/NORCAL)  2912.0        NaN
1388  EBERLINE SERVICES (FORMERLY TMA/NORCAL)  2912.0        NaN
1389                                      NaN     NaN        NaN
1390                                      NaN     NaN        NaN
1391                                      NaN     NaN        NaN

[1392 rows x 14 columns]

# Water Systems

In [38]:
R = httpx.get(
	url = "https://sdwis.waterboards.ca.gov/PDWW/JSP/SearchDispatch",
    # number=&name=cucamonga&county=&WaterSystemType=All&WaterSystemStatus=A&SourceWaterType=All&action=Search+For+Water+Systems
    params={
        'number':'',
        'name':'cucamonga',
        'county':'',
        'WaterSystemType':'All',
        'WaterSystemStatus':'A',
        'SourceWaterType':'All',
        'action':'Search+For+Water+Systems'
	}
)
# pd.read_html(R.text)[0]
R.text
R.url

URL('https://sdwis.waterboards.ca.gov/PDWW/JSP/SearchDispatch?number=&name=cucamonga&county=&WaterSystemType=All&WaterSystemStatus=A&SourceWaterType=All&action=Search%2BFor%2BWater%2BSystems')

In [ ]:
R = httpx.get(
    url = 'https://sdwis.waterboards.ca.gov/PDWW/JSP/NMonitoringSchedules.jsp?tinwsys_is_number=3782&tinwsys_st_code=CA'

In [50]:
dfs = pd.read_html('https://sdwis.waterboards.ca.gov/PDWW/JSP/NMonitoringSchedules.jsp?tinwsys_is_number=3782&tinwsys_st_code=CA')
dfs[0]

         Monitoring Schedules for All Sampling Points  \
                         Water System Sampling Points
                                         Old PS Codes
0                                         3610018-001
1                                         3610018-002
2                                         3610018-004
3                                         3610018-008
4                                         3610018-010
..                                                ...
69                                        3610018-036
70                                        3610018-039
71                                        3610018-041
72                                                NaN
73  Links  PS Code Transition  Water System Detail...

                                                                   \

                                         New PS Codes Facility ID
0                                   CA3610018_001_001         001
1                                   CA3610018_002_002         002
2                                   CA3610018_004_004         004
3                                   CA3610018_008_008         008
4                                   CA3610018_010_010         010
..                                                ...         ...
69                                  CA3610018_036_036         036
70                                  CA3610018_039_039         039
71                                  CA3610018_041_041         041
72                            CA Drinking Water Watch         NaN
73  PS Code Transition Water System No. :  CA36100...         NaN



   Sample Point ID    Sample Point Name Status
0              001           BEE TUNNEL      A
1              002              WELL 01      A
2              004              WELL 04      A
3              008              WELL 13      A
4              010              WELL 16      A
..             ...                  ...    ...
69             036  WELL 27 - ABANDONED      I
70             039   WELL 33 - INACTIVE      I
71             041   WELL 34 - INACTIVE      I
72             NaN                  NaN    NaN
73             NaN                  NaN    NaN

[74 rows x 6 columns]

In [47]:
pd.read_html(
    "https://sdwis.waterboards.ca.gov/PDWW/JSP/WaterSystemDetail.jsp?tinwsys_is_number=3782&tinwsys_st_code=CA&wsnumber=CA3610018"
)[4]

,0,1,2,3
0,Water System No. :,CA3610018,Federal Type :,C
1,Water System Name :,CUCAMONGA VALLEY WATER DISTRICT,State Type :,C
2,Principal County Served :,SAN BERNARDINO,Primary Source :,SW
3,Status :,A,Activity Date :,01-01-1976
4,Distribution System Classification :,D5,Max Treatment Plant Classification :,T5

In [ ]:
R = httpx.get(
    # url = 'https://sdwis.waterboards.ca.gov/PDWW/JSP/MonitoringResults.jsp?tinwsys_is_number=4740&tinwsys_st_code=CA&counter=0'
    url = 'https://sdwis.waterboards.ca.gov/PDWW/JSP/MonitoringResults.jsp'
	params={
		'tinwsys_is_number':'4740',
		'tinwsys_st_code':'CA',
		'counter':'0'
	}

In [34]:
https://sdwis.waterboards.ca.gov/PDWW/JSP/SearchDispatch?number=&name=cucamonga&county=&WaterSystemType=All&WaterSystemStatus=A&SourceWaterType=All&action=Search+For+Water+Systems
https://sdwis.waterboards.ca.gov/PDWW/JSP/SearchDispatch?number=&name=cucamonga&county=&WaterSystemType=All&WaterSystemStatus=A&SourceWaterType=All&action=Search%2BFor%2BWater%2BSystems

'\r\n\r\n<html>\r\n\r\n<!-- 4/21/20 replaced MyTable with NewTable, 2/2/17 added table scripts to enable downloading data in pdf and excel formats -->\r\n\r\n<!-- 4/22/20 the meta tag is needed right after the html tag for the table script to work in IE -->\r\n\r\n<meta http-equiv="X-UA-Compatible" content="IE=edge" />\r\n\r\n\r\n<!-- 11/5/20 copied from FFDWW, old file saved and overwritten- 2/13/20 start DataTable scripts here \r\nThis is the file location and structure for: datatables.min.js\r\n\r\nhttps://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-flash-1.6.1/b-html5-1.6.1/b-print-1.6.1/datatables.min.js\r\n --> \r\n\r\n<script src="../JavaScript/jquery.js"></script>\r\n\r\n\r\n<link rel="stylesheet" type="text/css" href="../JavaScript/datatables.min.css">\r\n<link rel="stylesheet" type="text/css" href="../JavaScript/colReorder.dataTables.min.css">\r\n\r\n\r\n<script type="text/javascript" src="../JavaScript/pdfmake.min.js"></script>\r\n<script type="text/javascript" src="../JavaScript/vfs_fonts.js"></script>\r\n<script type="text/javascript" src="../JavaScript/datatables.min.js"></script>\r\n<script type="text/javascript" src="../JavaScript/dataTables.colReorder.min.js"></script>\r\n\r\n\r\n<!-- 4/14/20 the below script is required to sort date correctly  --> \r\n\r\n<script type="text/javascript" charset="utf8" src="../JavaScript/moment.min_datetime-moment.js"></script> \r\n\r\n<!-- 2/13/20 end DataTable scripts here  --> \r\n\r\n<script type="text/javascript">\r\n\r\n$(document).ready( function () { // 2/13/20 DataTable script\r\n\r\n$.fn.dataTable.moment( \'MM-DD-YYYY\' ); // 4/14/20 formatting date to sort correctly\r\n\r\n // 7/1/20 Setup - add a text input to each footer cell\r\n$(\'table.display tfoot th\').each( function () {\r\n        var title = $(this).text();\r\n        $(this).html( \'<input type="text" placeholder="Search \'+title+\'" />\' );\r\n    } );\r\n    \r\nvar table = $(\'table.display\').DataTable( {\r\n    "oLanguage": {      \r\n        \t\t"sLengthMenu": \'Display <select>\'+\r\n        \t\t\'<option value="10">10</option>\'+          \r\n        \t\t\'<option value="25">25</option>\'+        \r\n        \t\t\'<option value="50">50</option>\'+        \r\n        \t\t\'<option value="100">100</option>\'+        \r\n        \t\t\'<option value="-1">All</option>\'+        \r\n        \t\t\'</select> records &nbsp;\'    }, // 01/07/21 added nbsp to separate text from buttons / Display selection box\r\n    dom: \'lfrBtip\', // determine the location of button in relation to other components\r\n    buttons: [\r\n       \t\t{ // 07/06/20 added customized print button to avoid cut off when printing\r\n                extend: \'print\',\r\n                customize: function ( win ) {\r\n                    $(win.document.body)\r\n                        .css( \'font-size\', \'10pt\' );\r\n \r\n                    $(win.document.body).find( \'table\' )\r\n                        .addClass( \'compact\' )\r\n                        .css( \'font-size\', \'inherit\' );\r\n                \t}\r\n            }, \r\n            \r\n            \'copy\', \r\n            \r\n            \'excel\', \r\n            \r\n            \'pdf\' // 01/07/21 removed pdf customization which does not work\r\n            \r\n    ],\r\n    \r\n   colReorder: true,\r\n\r\n   // 7/1/20 start column search function\r\n   initComplete: function () {\r\n            // 7/1/10 Apply the search\r\n            this.api().columns().every( function () {\r\n                var that = this;\r\n \r\n                $( \'input\', this.footer() ).on( \'keyup change clear\', function () {\r\n                    if ( that.search() !== this.value ) {\r\n                        that\r\n                            .search( this.value )\r\n                            .draw();\r\n                    }\r\n                } );\r\n            } );\r\n        }\r\n    \r\n} );\r\n\r\n// end column search function\r\n\r\n\r\n$(\'a.toggle-vis\').on( \'click\', function (e) { // click on column names to hide/show column, 10/13/15\r\n\r\n        e.preventDefault();\r\n\r\n         // Get the column API object\r\n\r\n        var column = table.column( $(this).attr(\'data-column\') );\r\n\r\n        // Toggle the visibility\r\n\r\n        column.visible( ! column.visible() );\r\n\r\n    } ); // end toggle function 10/14/15\r\n\r\n\r\n} );\r\n\r\n\r\n</script>\r\n\r\n\r\n\r\n<script language="Javascript">\r\n\r\nfunction openpopup(){\r\n\r\n\tvar popurl="../Help/html_Water_Systems.htm"\r\n\twinpops=window.open(popurl,"","width=400,height=338,toolbar,scrollbars,menubar,resizable,")\r\n\r\n}\r\n\r\n</script>\r\n\r\n<!-- This will establish a oracle connection for the entire page -->\r\n\r\n\r\n\r\n<head>\r\n<meta name="GENERATOR" content="Microsoft FrontPage 12.0">\r\n<meta name="ProgId" content="FrontPage.Editor.Document">\r\n<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">\r\n<title>Water Systems</title>\r\n\r\n<style type="text/css">\r\n\r\ntfoot input {\r\n\r\n        width: 100%;\r\n\r\n        padding: 3px;\r\n\r\n        box-sizing: border-box;\r\n        \r\n        font-size: 12px;\r\n\r\n\r\n    }\r\n\r\n</style>\r\n\r\n</head>\r\n\r\n<!-- 4/23/20 removed the onload function in body tag -->\r\n\r\n<body bgcolor="#F7F0DE">\r\n  <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%" id="AutoNumber1" height="1" align="left">\r\n    <tr>\r\n      <td width="20%" height="61" bgcolor="#003366" valign="top">\r\n      <p align="center">\r\n      <br>\r\n      </td>\r\n      <td width="79%" height="61" bgcolor="#F7F0DE">\r\n\r\n<p align="center"><b><font size="6" face="Benguiat Bk BT" color="#306192">\r\nDrinking Water Division</font></b></td>\r\n    </tr>\r\n    <tr>\r\n      <td width="20%" height="183" bgcolor="#003366" valign="top">\r\n      <p><font color="#FFFFFF"><b><font size="4"><br>\r\n      Return Links</font></b><br>\r\n      <br>\r\n      &nbsp;</font> <font color="#FFFFFF">&nbsp;<a href="../index.jsp" title="Index"><font color="#FFFFFF">Water\r\n      System Search</font></a></font><p><font color="#FFFFFF">&nbsp;&nbsp; <a href="../Maps/Map_Template.jsp" title="County Map"><font color="#FFFFFF">County Map</font></a></font><br>\r\n&nbsp;<p><a href="javascript:openpopup()" title="Help"><font color="#FFFFFF" size="4"><b>G</b><font color="#FFFFFF"><b>lossary</b></font></font></a></p>\r\n        <p>&nbsp;</p>\r\n      </td>\r\n      <td width="79%" height="229" bgcolor="#F7F0DE" valign="top">\r\n\r\n<p align="center"><u><b><font face="Benguiat Bk BT" size="5">Water Systems</font></b></u><a href="#" onclick="ShowTips()">\r\n\t\t<img alt="Tips on using table" src="../Images/tips.png" width="30" border="0"></a>\r\n&nbsp;<br><br>\r\n\t\tHide/show columns: <a class="toggle-vis" href="#" data-column="0">Water System No.</a> | <a class="toggle-vis" href="#" data-column="1">Water System Name</a> | \r\n\t\t<a class="toggle-vis" href="#" data-column="2">Type</a> | <a class="toggle-vis" href="#" data-column="3">Distribution System Class</a> |  <a class="toggle-vis" href="#" data-column="4">Max Treatment Plant Class</a> | \r\n\t\t<a class="toggle-vis" href="#" data-column="5">Principal County Served</a> | <a class="toggle-vis" href="#" data-column="6">Primary Source Water Type</a> | \r\n</p>\r\n\r\n<!-- 4/19/19 removed the status column, added two columns for DS and TP classification -->\r\n\r\n  <center>\r\n\r\n<table border="1" cellpadding="5" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="95%" id="AutoNumber7" class="display">\r\n <thead>\r\n  <tr>\r\n    <th width="15%" height="31" bgcolor="#306192" align="center"><font color="#FFFFFF"><b>Water System No.</b></font></th>\r\n    <th width="40%" height="31" bgcolor="#306192" align="center"><font color="#FFFFFF"><b>Water System Name</b></font></th>\r\n    <th width="10%" height="31" bgcolor="#306192" align="center"><font color="#FFFFFF"><b>Type</b></font></th>\r\n    <th width="10%" height="31" bgcolor="#306192" align="center"><font color="#FFFFFF"><b>Distribution System Class</b></font></th>\r\n    <th width="10%" height="31" bgcolor="#306192" align="center"><font color="#FFFFFF"><b>Max Treatment Plant Class</b></font></th>\r\n    <th width="15%" height="31" bgcolor="#306192" align="center"><font color="#FFFFFF"><b>Principal County Served</b></font></th>\r\n    <th width="10%" height="31" bgcolor="#306192" align="center"><font color="#FFFFFF"><b>Primary Source Water Type</b></font></th>\r\n  </tr>\r\n </thead>\r\n \r\n <tfoot>\r\n  <tr>\r\n    <th width="15%" height="31" bgcolor="#306192" align="center"><font color="#FFFFFF"><b>Water System No.</b></font></th>\r\n    <th width="40%" height="31" bgcolor="#306192" align="center"><font color="#FFFFFF"><b>Water System Name</b></font></th>\r\n    <th width="10%" height="31" bgcolor="#306192" align="center"><font color="#FFFFFF"><b>Type</b></font></th>\r\n    <th width="10%" height="31" bgcolor="#306192" align="center"><font color="#FFFFFF"><b>Distribution System Class</b></font></th>\r\n    <th width="10%" height="31" bgcolor="#306192" align="center"><font color="#FFFFFF"><b>Max Treatment Plant Class</b></font></th>\r\n    <th width="15%" height="31" bgcolor="#306192" align="center"><font color="#FFFFFF"><b>Principal County Served</b></font></th>\r\n    <th width="10%" height="31" bgcolor="#306192" align="center"><font color="#FFFFFF"><b>Primary Source Water Type</b></font></th>\r\n  </tr>\r\n </tfoot>\r\n\r\n<tbody>\r\n\r\n \t\r\n  \t\r\n  \r\n  \r\n  \r\n  \r\n  \r\n\r\n\r\n\r\n  <tr>\r\n    <td width="15%" height="18" align="center" bgcolor="#DBDBDB">\r\n    \r\n    <a href="WaterSystemDetail.jsp?tinwsys_is_number=3882&tinwsys_st_code=CA&wsnumber=CA3690016   " title="Water System Detail">CA3690016   </a></td>\r\n    <td width="40%" height="18" align="left" bgcolor="#DBDBDB">CUCAMONGA CWD-RECLAMATION</td>\r\n    <td width="10%" height="18" align="center" bgcolor="#DBDBDB">NP  </td>\r\n    <td width="10%" height="18" align="center" bgcolor="#DBDBDB">     </td>\r\n    <td width="10%" height="18" align="center" bgcolor="#DBDBDB">There are no treatment plants</td>\r\n    <td width="15%" height="18" align="center" bgcolor="#DBDBDB">\r\n    SAN BERNARDINO\r\n&nbsp;\r\n    </td>\r\n    <td width="10%" height="18" align="center" bgcolor="#DBDBDB">   </td>\r\n    \r\n     <!-- 2/17/16 removed address codes -->\r\n\r\n  </tr>\r\n \r\n  \r\n  \r\n  \r\n  \r\n  \r\n\r\n\r\n\r\n  <tr>\r\n    <td width="15%" height="18" align="center" bgcolor="#DBDBDB">\r\n    \r\n    <a href="WaterSystemDetail.jsp?tinwsys_is_number=3782&tinwsys_st_code=CA&wsnumber=CA3610018   " title="Water System Detail">CA3610018   </a></td>\r\n    <td width="40%" height="18" align="left" bgcolor="#DBDBDB">CUCAMONGA VALLEY WATER DISTRICT</td>\r\n    <td width="10%" height="18" align="center" bgcolor="#DBDBDB">C   </td>\r\n    <td width="10%" height="18" align="center" bgcolor="#DBDBDB">D5   </td>\r\n    <td width="10%" height="18" align="center" bgcolor="#DBDBDB">T5   </td>\r\n    <td width="15%" height="18" align="center" bgcolor="#DBDBDB">\r\n    SAN BERNARDINO\r\n&nbsp;\r\n    </td>\r\n    <td width="10%" height="18" align="center" bgcolor="#DBDBDB">SW </td>\r\n    \r\n     <!-- 2/17/16 removed address codes -->\r\n\r\n  </tr>\r\n \r\n\r\n\r\n <!-- 7/1/16 Happy 4th of July, added this logic to go straight to WS details page if there is only one record -->\r\n\r\n \r\n\r\n</tbody>\r\n\r\n  </table>\r\n      </td>\r\n    </tr>\r\n\r\n<!-- 2/2/17 removed rows count -->\r\n    \r\n  </table>\r\n\r\n    <p>&nbsp;</p>\r\n\r\n<script type="text/javascript" src="/_Incapsula_Resource?SWJIYLWA=719d34d31c8e3a6e6fffd425f7e032f3&ns=3&cb=635628919" async></script></body>\r\n\r\n<!-- This will close the Oracle Connection for this page, 2/17/16 removed address codes -->\r\n\r\n\r\n</html>'